<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.al4t_claco">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AL4T_Claco">
        <activity android:name=".controller.PdfViewActivity"
                  android:parentActivityName=".controller.ResourceActivity">
        </activity>
        <activity
                android:name=".controller.Dashboard"
                android:parentActivityName=".LoginActivity">
        </activity>
        <activity android:name=".controller.Dashboard">

        </activity>
        <activity
                android:name=".controller.ResourceActivity"
                android:parentActivityName=".MainActivity">
        </activity>
        <!--<activity
                android:name=".controller.CourseInformation"
                android:parentActivityName=".MainActivity">
        </activity>-->
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>